html {
    background-color: #000;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: center;
}
header > * {
    margin: auto 10px auto 10px;
}
header img {
    width:100%;
    max-width: 50px;
    height: auto;
}
header figure {
    height: fit-content;
}
#natpis {
    max-width: 400px;
    height: auto;
}
#galerija {
    display: flex;
    flex-direction: column;    
}


.jelo{
    min-height: 90vh;
    padding-bottom:4em;
    transform: translateX(100px);
    opacity: 0;
    transition: 0.2s;
}

.show{
    transform: translateX(0);
    opacity: 1;
}

figcaption, span, .jelo {
    text-align: center;
    color: white;
}
main img {
    width:clamp(300px, 100%, 500px);
    height: auto;
}
